<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0px;padding:0px;width:863px;background-color: #cd4756">
    <tbody>
        <tr>
            <td align="center" valign="top" style="padding:10px;width:843px;border-top-width:0px;">
                <br>
                <br>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0px;max-width:600px !important;">
                    <tbody>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:9px;background-color:#268da7"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:0px;background-color:rgb(250,250,250);">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:9px;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:0px 9px;text-align:center;"><img align="center" alt="" width="564" style="max-width:570px;padding-bottom:0px;vertical-align:bottom;border:0px;min-height:auto;display:inline !important;"
                                                                    src="http://luongdanghai.com/images/mail_ivmun_2017.png"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);padding-top:0px;padding-bottom:9px;background-color:rgb(250,250,250);">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px;">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;min-width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:0px 18px 9px;">
                                                                <p>Put Content here</p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:9px;background-color:rgb(250,250,250);">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px;">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;min-width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="font-family:Helvetica;padding:0px 18px 9px;color:rgb(101,101,101);font-size:12px;line-height:18px;text-align:center;">
                                                                <div style="text-align:left;"><span><em><strong>For more information, please contact:</strong></em>
                                                                <br>Website:&nbsp;<a href="https://ivmun.org" style="color:rgb(101,101,101);" target="_blank">https://ivmun.org</a>
                                                                <br>Fanpage:&nbsp;<a href="https://www.facebook.com/official.ivmun/" style="color:rgb(101,101,101);" target="_blank">https://www.facebook.com/official.ivmun/</a>
                                                                <br>Email:&nbsp;<a href="mailto:administration@ivmun.org" target="_blank">administration@ivmun.org</a>
                                                                <br>
                                                                </span>Hotline: [Put hotline here]</div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table><br></td>
        </tr>
    </tbody>
</table>