<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:1444px;margin:0px;padding:0px;width:863px;background-color:rgb(78,164,175);">
    <tbody>
        <tr>
            <td align="center" valign="top" style="height:1424px;padding:10px;width:843px;border-top-width:0px;">
                <br>
                <br>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0px;max-width:600px !important;">
                    <tbody>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:9px;background-color:rgb(19,136,136);"></td>
                        </tr>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:0px;background-color:rgb(250,250,250);">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding:9px;">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:0px 9px;text-align:center;"><img align="center" alt="" width="564" style="max-width:3546px;padding-bottom:0px;vertical-align:bottom;border:0px;min-height:auto;display:inline !important;"
                                                                    src="https://resize.yandex.net/mailservice?url=https%3A%2F%2Fgallery.mailchimp.com%2Fc8149b3d2354a1a32d8a66cce%2Fimages%2F02aed7b0-9cd6-4f2d-91d2-87d670b8282d.png&amp;proxy=yes&amp;key=80a7f68484063b1933bafaa06cc8eb09"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:rgb(234,234,234);padding-top:0px;padding-bottom:9px;background-color:rgb(250,250,250);">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px;">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;min-width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="padding:0px 18px 9px;">
                                                                <h1 style="color:rgb(32,32,32);font-family:Helvetica;font-size:26px;line-height:32.5px;margin:0px;padding:0px;"><span style="color:rgb(0,128,128);">Dear delegate,</span></h1>
                                                                <div
                                                                    style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;text-align:justify;"><br></div>
                                                                    <div style="text-align:justify;">
                                                                        <div>
                                                                            <font color="#202020" face="Helvetica"><span style="font-size:16px;line-height:24px;">It is my pleasure to offer you an official delegate position at our conference this year. On&nbsp;</span></font>
                                                                            <span
                                                                                style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">behalf of the organizing committee, I would like
                                                                                to congratulate you on this astounding&nbsp;</span>
                                                                                <span
                                                                                    style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">achievement. Despite this year's exceptionally
                                                                                    talented pool of candidate, we have selected
                                                                                    you&nbsp;</span><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">to become an official delegate at our conference. Your hard work, passion and brilliant skills&nbsp;</span>
                                                                                    <span
                                                                                        style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">have truly set you apart from the rest.
                                                                                        You have every reason to be proud
                                                                                        of yourself and of this&nbsp;</span>
                                                                                        <span
                                                                                            style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">achievement.&nbsp;</span><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">Nevertheless<wbr>, we firmly believe that our conference will still provide you with an&nbsp;</span>
                                                                                            <span
                                                                                                style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">invaluable opportunity to be
                                                                                                the best you can be and fully
                                                                                                realize your potential.&nbsp;</span>
                                                                        </div>
                                                                        <div><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;"><br></span></div>
                                                                        <div><span style="color:rgb(32,32,32);font-family:Helvetica;line-height:24px;"><span style="font-size:16px;">Should you choose to accept our offer to become an official delegate at VYMUN 2016, your first task will be to confirm your Delegates position in our conference&nbsp;</span></span>
                                                                            <span
                                                                                style="font-family:Helvetica;line-height:32.5px;text-align:start;color:rgb(0,128,128);">
                                                                                <font size="4"><b>by replying to this email</b></font>
                                                                                </span><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:12.8px;line-height:24px;"><span style="font-size:16px;">. However, note that your position will only be confirmed once we have received the&nbsp;</span></span>
                                                                                <span
                                                                                    style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">application fee payment from you. We will
                                                                                    send you the instructions for payment
                                                                                    soon in another&nbsp;</span><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">email.&nbsp;</span></div>
                                                                        <div><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;"><br></span></div>
                                                                        <div><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">After that, we welcome you to join our Facebook group for the participants of VYMUN&nbsp;</span>
                                                                            <span
                                                                                style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">2016. The Facebook group can be found at this
                                                                                link:&nbsp;</span>
                                                                                <font color="#202020" face="Helvetica"><span style="font-size:16px;line-height:24px;"><b><a href="https://www.facebook.com/groups/257897957916376/" target="_blank" data-vdir-href="https://mail.yandex.com/re.jsx?uid=1130000022670590&amp;c=LIZA&amp;cv=12.12.300&amp;mid=162129586585338111&amp;h=a,FVzgCEVNs3dURsvlYo15NQ&amp;l=aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL2dyb3Vwcy8yNTc4OTc5NTc5MTYzNzYv" data-orig-href="https://www.facebook.com/groups/257897957916376/" class="daria-goto-anchor" rel="noopener noreferrer">https://www.facebook.com<wbr>/groups/257897957916376/</a></b></span></font>
                                                                        </div>
                                                                        <div>
                                                                            <font color="#202020" face="Helvetica"><span style="font-size:16px;line-height:24px;"><br></span></font>
                                                                        </div>
                                                                        <div>
                                                                            <font color="#202020" face="Helvetica"><span style="font-size:16px;line-height:24px;">Once again, on behalf of the organizing committee, I thank you for applying to VYMUN&nbsp;</span></font>
                                                                            <span
                                                                                style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;">2016 and and I look forward to seeing you in
                                                                                Hanoi this summer.&nbsp;</span>
                                                                        </div>
                                                                        <div><span style="color:rgb(32,32,32);font-family:Helvetica;font-size:16px;line-height:24px;"><br></span></div>
                                                                        <div><b style="color:rgb(0,128,128);font-family:Helvetica;font-size:large;line-height:32.5px;text-align:start;"><i>Yours sincerely,</i></b></div>
                                                                        <div><b style="color:rgb(0,128,128);font-family:Helvetica;font-size:large;line-height:32.5px;text-align:start;"><i>Ngô Di Lân</i></b></div>
                                                                        <div><b style="color:rgb(0,128,128);font-family:Helvetica;font-size:large;line-height:32.5px;text-align:start;"><i>Secretary-General of VYMUN 2016</i><br></b></div>
                                                                    </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="border-top-width:0px;border-bottom-width:0px;padding-top:9px;padding-bottom:9px;background-color:rgb(250,250,250);">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="padding-top:9px;">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:100%;min-width:100%;border-collapse:collapse;">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" style="font-family:Helvetica;padding:0px 18px 9px;color:rgb(101,101,101);font-size:12px;line-height:18px;text-align:center;">
                                                                <div style="text-align:left;"><span><em><strong>For more information, please contact:</strong></em><br>➤ Fanpage:&nbsp;<a href="https://www.facebook.com/VYMUN.VYCO/" style="color:rgb(101,101,101);" target="_blank" data-vdir-href="https://mail.yandex.com/re.jsx?uid=1130000022670590&amp;c=LIZA&amp;cv=12.12.300&amp;mid=162129586585338111&amp;h=a,I_4v8wPc3YTUprju5FwIVw&amp;l=aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL1ZZTVVOLlZZQ08v" data-orig-href="https://www.facebook.com/VYMUN.VYCO/" class="daria-goto-anchor" rel="noopener noreferrer">https://www.facebook.<wbr>com/VYMUN.VYCO/</a><br>➤ Email:&nbsp;<a href="mailto:Vietyouthco@gmail.com" target="_blank" class="ns-action" data-click-action="common.go" data-params="new_window&amp;url=%23compose%3Fmailto%3DVietyouthco%2540gmail.com">Vietyouthco@gmail.com</a><br></span>➤
                                                                    Hotline: Mr. Dat&nbsp;(0918 959 635)<span><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mr. Khue&nbsp;(0169 3961 285)</span></div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table><br></td>
        </tr>
    </tbody>
</table>